{
  "extends": "@umijs/lint/dist/config/stylelint",
  "rules": {
    "no-empty-source": null,
    "number-max-precision": null,
    "selector-class-pattern": null,
    "alpha-value-notation": null
  }
}
