@import '@arco-design/web-react/es/Button/style/token.less';

button.arco-btn {
  &.arco-btn-size-large {
    border-radius: var(--border-radius-large);

    &.arco-btn-shape-round {
      border-radius: calc(@btn-size-large-height * 0.5);
    }
  }

  &.arco-btn-size-default {
    border-radius: var(--border-radius-medium);

    &.arco-btn-shape-round {
      border-radius: calc(@btn-size-default-height * 0.5);
    }
  }

  &.arco-btn-size-small {
    border-radius: var(--border-radius-medium);

    &.arco-btn-shape-round {
      border-radius: calc(@btn-size-small-height * 0.5);
    }
  }

  &.arco-btn-size-mini {
    border-radius: var(--border-radius-small);

    &.arco-btn-shape-round {
      border-radius: calc(@btn-size-mini-height * 0.5);
    }
  }

  span:has(svg) {
    vertical-align: -2px;
  }

  span:has(svg) + span {
    margin-left: 8px;
  }
}
