button {
  &.arco-btn-size-large {
    border-radius: var(--border-radius-large);
  }

  &.arco-btn-size-default {
    border-radius: var(--border-radius-medium);
  }

  &.arco-btn-size-small {
    border-radius: var(--border-radius-medium);
  }

  &.arco-btn-size-mini {
    border-radius: var(--border-radius-small);
  }
}
