.arco-input {
  &.arco-input-borderless {
    border: none;
    box-shadow: none;
  }
}

.arco-input-group {
  & > .arco-input-group-addbefore ~ .arco-input-inner-wrapper-focus {
    border-radius: 0;
  }

  & > .arco-input-group-addafter ~ .arco-input-inner-wrapper-focus {
    border-radius: 0;
  }
}
